<html>

<head>
  <meta charset="utf-8"/>

  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <!-- HTML BODY -->
  <div class="top-menu">
    <span>
      <img id="top-logo" src="img/logo.png"/>
      <h3 id="main-title">Camur Web Monitor<h3>
      </span>
    </div>

    <div class="main">

      <div class="navmenu">
        <div class="navmenu-content">
          <div class="navmenu_project" v-for="project in projects">
            <a class="nav-btn" v-on:click="project.open = !project.open">
              <div id="navmenu_project_title">
                <i v-if="project.open" class="material-icons arrow">keyboard_arrow_down</i>
                <i v-else class="material-icons arrow">keyboard_arrow_right</i>
                {{ project.title }}
              </div>
            </a>
            <div class = "navmenu_list" v-if="project.open" v-for="zone in project.zones">
              <a class="nav-btn" v-on:click="select_zone(zone)">
                <div id="navmenu_zone_title" >
                  <i v-if="zone.open" class="material-icons arrow">keyboard_arrow_down</i>
                  <i v-else class="material-icons arrow">keyboard_arrow_right</i>
                  {{ zone.title }}
                </div>
              </a>
              <div class = "navmenu_list">
                <span v-if="zone.open" v-for="node in zone.nodes">
                  <a class="nav-btn" v-on:click="select_node(node)">
                    <div id="navmenu_node_title">
                      {{ node.title }} – {{ node.node_type}}
                      <i class="material-icons node-offline">{{node.symbol}}</i>
                      <i v-if="node.online" class="material-icons node-online">cloud</i>
                      <i v-else class="material-icons node-offline">cloud_off</i>
                      <i v-if="node.alarm" class="material-icons node-alarm">alarm</i>
                    </div>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="inspector">
        <h2 id = "inspector_title">{{ selected.title }} – {{ selected.node_type }}</h2>
        <em>{{ selected.description }}</em>

        <div v-for="component in selected.components">

          <div class="component_separator">
            <a class = "open_component_button" v-on:click="component.open = !component.open">
                <i v-if="component.open" class="material-icons big_arrow">keyboard_arrow_down</i>
                <i v-else class="material-icons big_arrow">keyboard_arrow_right</i>
                {{component.type}}
            </a>

          </div>

          <div v-if="component.open" class="component">
            <!-- Node Info -->
            <span v-if="component.type === 'node info'">
              <div class="comp-element">
                <b>Type: </b>{{selected.node_type}} v.{{selected.version}}
              </div>

              <div class="comp-element">
                <b>Name:</b><input type="text">
              </div>

              <div class="comp-element">
                <b>Type: </b>{{selected.node_type}} v.{{selected.version}}
              </div>

              <div class="comp-element">
                <b>Name:</b><input type="text">
              </div>

              <div class="comp-element">
                <b>Type: </b>{{selected.node_type}} v.{{selected.version}}
              </div>

              <div class="comp-element">
                <b>Name:</b><input type="text">
              </div>

              <div class="comp-element">
                <b>Type: </b>{{selected.node_type}} v.{{selected.version}}
              </div>

              <div class="comp-element">
                <b>Name:</b><input type="text">
              </div>
            </span>

            <!-- Fixvolt -->
            <span v-if="component.type === 'fixvolt'">
              <div class="comp-element">
                <b>Voltage:</b><input type="text">
                <a class="btn" >Set Voltage</a>
              </div>
            </span>

          </div>
        </div>

        <!--<div>
          <p class="input-label">Name: </p><input type="text">
        </div>
        <div>
          <p class="input-label">Value: </p><input type="text">
        </div>
        <div>
          <p class="input-label">Description: </p><input type="text">
        </div>

        <br/>
        <a id = "hide-app3" class="btn" >Hej jag heter Oskar Ör</a>
        <a id = "hide-app3" class="btn" >Hello</a> -->
      </div>
    </div>
    <!-- Vue -->
    <script src="plugins/vue.js"></script>

    <!-- Our code -->
    <script src="app.js"></script>
  </body>

  </html>
